
  "hostname": {{ bastion_name }}
  "name": {{ ocp_host_name }}
   "dnsip": {{ dns_ip}}
    "domain_ip": {{ domain_ip }}
    "bastion_ip": {{ bastion_ip }}
    "bootstrap_ip":{{ bootstrap_ip }}
    "m1_ip": {{ m1_ip }}
    "m2_ip": {{ m2_ip }}
    "m3_ip": {{ m3_ip }}
    "w1_ip": {{ w1_ip }}
    "w2_ip": {{ w2_ip }}
     "user_name": {{ user_name }}
    "host_ip": {{ host_ip }}
    "old_pwd": {{ old_pwd }}
    "new_pwd": {{ new_pwd }}
  

